.contato{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.contato_imagem{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2%;
}

.contato_info{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
    text-align: left;
    font-size: 18px;
}

@media (max-width: 767px) {
    .contato_info{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .contato_imagem{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 30px;
    }
}