.contato{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.contato_imagem{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2%;
}

.contato_info{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
    text-align: left;
    font-size: 18px;
}

@media (max-width: 767px) {
    .contato_info{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .contato_imagem{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        
    }
}

.contato_info{
    color:var(--verde);
}

.contato_item_lista{
   list-style: none;
   display: flex;
   padding-bottom: 20px;
}

.contato_item_lista a{
    color:var(--verde);
}

.contato_item_lista a:hover{
    color:var(--verde_hover);
}

.contato_item_lista_texto{
    padding-left: 2%;
    font-weight: 600;
}