.cabecalho {
  background-color: var(--cor-principal);
  height: 80px;
  width: 100%;
  flex-flow: row nowrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
  left: 0px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 9;

}


.navbar {

  color: var(--branco);
  left: 0px;
  right: 0px;
  transition: all 0.2s ease-in-out 0s;
  will-change: background-color, height;


}


.navbar_container {
  -webkit-box-align: center;
  align-items: center;

  display: flex;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
}


.navbar a {
  text-decoration: none;
  color: var(--branco);
  transition: 0.6s;
}

.navbar a:hover {
  color: var(--verde);
}


.navegation_menu{
  align-items: center;
}

@media (max-width: 600px) {
  .navegation_menu{
     display: none;
  }
}

.navegation_menu ul {
  
  display: flex;
 
}

.item_menu {

  list-style-type: none;
  margin: 0 1rem;
}

.navigation_menu li a {

  text-decoration: none;
  display: block;
  width: 100%;
}

.menu_icon{
    display: none;
}


@media (max-width: 600px) {
  .menu_icon {
    display: block;
    cursor: pointer;
  }
}

.navegation_menu_mobile{
  display: none;
}

.item_menu_mobile{
  list-style: none;
  line-height: 2.5em;
}

@media (max-width: 600px) {
  .navegation_menu_mobile{
     margin-top: 65px;
     position: absolute;
     display: block;
     z-index: 9;
     width: 100%;
     background-color: var(--cor-principal);
  }
}